* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 10px;
}

/* .container {
  display: grid;

  grid-template-columns: repeat(3, auto);
} */

.box {
  width: 200px;
  height: 200px;
  border: 2px solid teal;
  margin-bottom: 4px;
  font-size: 1.4rem;
  font-weight: 800;
  display: grid;
  justify-content: center;
  align-content: center;
}

#box-3 {
  visibility: hidden;
}

.box:nth-child(2n) {
  background-color: aqua;
}
.box:nth-child(2n + 1) {
  background-color: blanchedalmond;
}
